@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 145 61% 27%;
    --primary-foreground: 0 0% 100%;
    --primary-dark: 145 61% 18%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;

    --muted: 240 7% 90%;
    --muted-foreground: 220 13% 63%;

    --accent: 240 7% 90%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 91% 71%;
    --destructive-foreground: 0 0% 100%;

    --success: 158 70% 38%;
    --success-foreground: 0 0% 100%;

    --border: 220 13% 82%;
    --input: 240 7% 90%;
    --ring: 145 61% 27%;

    --radius: 0.5rem;

    --blue: 217 91% 56%;
    --purple: 271 81% 56%;
    --pink: 330 81% 60%;
    --red: 0 72% 51%;
    --orange: 24 95% 53%;
    --yellow: 45 93% 47%;
    --green: 145 61% 36%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 145 61% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 215 28% 17%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --success: 158 70% 38%;
    --success-foreground: 0 0% 100%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 145 61% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
